<div class="contenidoRl">
  <div class="contenedorVC">
    <h3>Personas Que Han Visitado Tu Perfil</h3>

    <a href="<%= link1 %>" target="_blank">
      <div class="list">
        <div class="rank">
          <span>1</span><img class="imgCj" src="<%= imagen1 %>" />
        </div>
        <div class="creador">
          <h4><%= persona1 %></h4>
          <p><%= time1 %></p>
        </div>
      </div>
    </a>
    <a href="<%= link2 %>" target="_blank">
      <div class="list">
        <div class="rank">
          <span>2</span><img class="imgCj" src="<%= imagen2 %>" />
        </div>
        <div class="creador">
          <h4><%= persona2 %></h4>
          <p><%= time2 %></p>
        </div>
      </div>
    </a>

    <a href="<%= link3 %>" target="_blank">
      <div class="list">
        <div class="rank">
          <span>3</span><img class="imgCj" src="<%= imagen3 %>" />
        </div>
        <div class="creador">
          <h4><%= persona3 %></h4>
          <p><%= time3 %></p>
        </div>
      </div>
    </a>

    <a href="<%= link4 %>" target="_blank">
      <div class="list">
        <div class="rank">
          <span>4</span><img class="imgCj" src="<%= imagen4 %>" />
        </div>
        <div class="creador">
          <h4><%= persona4 %></h4>
          <p><%= time4 %></p>
        </div>
      </div>
    </a>

    <a href="<%= link5 %>" target="_blank">
      <div class="list">
        <div class="rank">
          <span>5</span><img class="imgCj" src="<%= imagen5 %>" />
        </div>
        <div class="creador">
          <h4><%= persona5 %></h4>
          <p><%= time5 %></p>
        </div>
      </div>
    </a>
  </div>
</div>
<p class="copiyray">Copyright © 2022 Neon-Mebulock. All Right Reserverd</p>